@import "variables.scss";

.TextPiece {
  height: $tile;
  width: $tile;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  flex-shrink: 0;
  gap: 4px;

  &.overflow {
    width: auto;
  }
  &.right {
    text-align: right;
  }
}