@import '../../styles/variables.scss';

.AbyssTeams {
  >.scrollArea {
    padding-bottom: 400px;
  }

  .Box > span {
    margin-bottom: $space-minus1;
    opacity: 0.5;
  }
  .backup {
    width: calc(100% - $space * 2);

    textarea {
      width: 100%;
    }
  }
}