@import '../../styles/variables.scss';

.AbyssTeam {
  .team {
    display: flex;
    flex-direction: row;
    gap: $space-minus2;
  
    .characters {
      display: flex;
      flex-direction: row;
      gap: 0;
    }
    button.primary {
      height: calc($tile - 2px);
      top: 1px;
    }
    .matches {
      display: flex;
      flex-direction: row;
      gap: 0;
    }

    .Character.A {
      opacity: 0.6;
    }
    .Character.B,
    .Character.C,
    .Character.D {
      opacity: 0.3;
    }
  }
  .Box {
    margin-top: $space-minus1;
    max-width: calc($tile * 16 + 14px);
  }
}