@import '../../styles/variables.scss';

.AbyssTeam {
  .team {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: $space-minus2;
  
    .characters {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0;

      .highlightTile {
        position: relative;
        margin-right: 2px;
        height: calc($tile - 4px);
        width: $space-minus2;
        
        background-color: $onSurface-highEmphasis;
        // border-radius: $tile 0 0 $tile;
        border-radius: $tile;
      }
    }

    button.primary {
      height: calc($tile - 2px);
      top: 1px;
    }
    .matches {
      display: flex;
      flex-direction: row;
      gap: 0;
    }

    .chevron {
      opacity: 0.5;
      margin-right: $space-minus3;
    }
  }

  .Box {
    margin-top: $space-minus1;
    max-width: calc($tile * 16 + 14px);

    .teamMatch {
      margin-left: calc($tile * 5 + 29px + 12px);
    }
  }

  .Character.A {
    opacity: 0.6;
  }
  .Character.B,
  .Character.C,
  .Character.D {
    opacity: 0.3;
  }
}