@import "variables.scss";

// Scrollbar Shape
// ::-webkit-scrollbar {
//   width: 16px;
// }
// ::-webkit-scrollbar-thumb {
//   border-radius: 6px;
//   border: 4px solid;
// }

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, span, ul, ol, li {
  font-family: $title-family;
  margin: 0;
  pointer-events: none;
}
h1, h2, h3, h4, h5, h6, span, input, textarea, li {
  color: $onSurface-highEmphasis;
}

h1, h2, h3, h4, h5, h6 {
  >span {
    opacity: 0.4;
    margin: 0 24px;
  } 
}

h2 {
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 16px;
}
h3 {
  font-size: 40px;
  font-weight: 700;
}
h4 {
  font-size: 24px;
  font-weight: 700;
}
h6 {
  font-size: 24px;
  font-weight: 700;
}
span {
  font-size: 16px;
  font-weight: 400;
}
li {
  margin: 8px 0;
}
* {
  box-sizing: border-box;
}

body {
  background-color: black;
  min-height: calc(100vh + 1px);
}

button, input, textarea, iframe {
  outline: none;
  border-style: none;
  padding: 0px;
}
button {
  background: none;

  &:not(:disabled) {
    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }
    &:active {
      opacity: 0.2;
    }
  }

  img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
  }
}
button.primary, button.secondary {
  border-radius: 12px;
  padding: 8px 12px;
  
  border-style: solid;
  border-width: 4px;
  border-color: $elevation-minus2;
  
  span {
    color: $onSurface-highEmphasis;
  }
  &:disabled {
    opacity: 0.5;
  }
}
button.primary {
  background-color: $elevation-minus2;
}
button.secondary {
  span {
    opacity: 0.8;
  }
}
button.filtered {
  opacity: 0.4;
  &:hover {
    cursor: pointer;
    opacity: 0.3;
  }
  &:active {
    opacity: 0.2;
  }
}

textarea {
  background-color: rgba(0, 0, 0, 0.0);
  font-size: 16px;
}

.page {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 32px;
  padding: 16px;
}

.tile {
  width: $tile;
  height: $tile;
  >img {
    width: 100%;
    height: 100%;
    
  }
}

.row {
  position: relative;
  display: flex;
  // flex-wrap: wrap;
  justify-content: start;
  align-items: start;
}
.column {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.stat {
  color: $onElevation-highEmphasis;
  background-color: magenta;

  border-radius: 12px;
  padding: 8px 12px;

  &.inactive {
    opacity: 0.4;
  }

  &.enerRech_ {
    background-color: $stat-enerRech;
  }
  &.critRate_ {
    background-color: $stat-critRate;
  }
  &.critDMG_ {
    background-color: $stat-critDMG;
  }
  &.atk_ {
    background-color: $stat-atk;
  }
  &.def_ {
    background-color: $stat-def;
  }
  &.hp_ {
    background-color: $stat-hp;
  }
  &.eleMas_ {
    background-color: $stat-eleMas;
  }
  &.heal_ {
    background-color: $stat-heal;
  }
  &.electro_dmg_,
  &.pyro_dmg_,
  &.cryo_dmg_,
  &.hydro_dmg_,
  &.anemo_dmg_,
  &.geo_dmg_,
  &.dendro_dmg_,
  &.physical_dmg_ {
    background-color: $stat-Dmg;
  }
}