@import "variables.scss";

.Artifact {
  position: relative;
  flex-shrink: 0;
  overflow: hidden;

  h4, h6 {
    position: absolute;
    right: 14px;
    bottom: 3px;
    // opacity: 0.6;
    // color: #000;
  }
  .tier-backdrop, .mainstat-backdrop {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 42px;
    height: 38px;

    background-color: #000;
    opacity: 0.6;
    border-top-left-radius: 16px;
    border-bottom-right-radius: 20px;
  }
  .mainstat-backdrop {
    background-color: white;
    opacity: 1;

    &.enerRech_ {
      background-color: $stat-enerRech;
    }
    &.critRate_ {
      background-color: $stat-critRate;
    }
    &.critDMG_ {
      background-color: $stat-critDMG;
    }
    &.atk_ {
      background-color: $stat-atk;
    }
    &.hp_ {
      background-color: $stat-hp;
    }
    &.def_ {
      background-color: $stat-def;
    }
    &.eleMas {
      background-color: $stat-eleMas;
    }
  }
}