@import "variables.scss";

.ArtifactStats {
  height: $tile;
  // width: calc(10 * #{$tile});

  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: start;
  gap: 1px;
  padding: 2px;

  .SubstatType {
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: start;
    height: 100%;
    gap: 1px;
  }

  .separator {
    width: 2px;
    height: 100%;
    background-color: $onSurface-highEmphasis;
    opacity: 0.4;
  }

  .SubstatType ~ .SubstatType{
    border-radius: 0;
  }
  .SubstatType{
    border-top-left-radius: $border;
    border-bottom-left-radius: $border;
    overflow: hidden;
  }

  .SubstatType {
    position: relative;

    .StatLabel {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      // bottom: 0px;
      // transform: translateX(-50%);

      border-radius: $border;
      // border-radius: $border $border 0 0;
      color: $onElevation-highEmphasis;
      // opacity: 0.6;
      border-color: $onElevation-highEmphasis;
      border-width: 1px;
      border-style: solid;

      padding: 2px 6px;
      // padding: 4px 4px 4px 4px;
    }
  }

  .Substat, .filler {
    height: 100%;
    width: $space-minus2;
    flex-grow: 1;
    flex-shrink: 1;
  }
  .Substat {
    display: flex;
    justify-content: center;
    align-items: center;

    &.highlighted {
      border-bottom-style: solid;
      border-bottom-width: $border-width;
      border-bottom-color: $onSurface-highEmphasis;
    }

    &.impossibleSubstats {
      opacity: 0.3;
    }
    &.wastedSubstats {
      opacity: 1;
    }
    &.missingRoll {
      background-color: $stat-missing;
      opacity: 0.8;
    }
    &.missingRoll.isUpgrade {
      background-color: $stat-missing;
      opacity: 1;
    }
    
  }
  .enerRech_ {
    background-color: $stat-enerRech;
  }
  .critRate_ {
    background-color: $stat-critRate;
  }
  .critDMG_ {
    background-color: $stat-critDMG;
  }
  .atk_ {
    background-color: $stat-atk;
  }
  .hp_ {
    background-color: $stat-hp;
  }
  .def_ {
    background-color: $stat-def;
  }
  .eleMas {
    background-color: $stat-eleMas;
  }
}