@import "variables.scss";

.ArtifactOverview {
  min-width: $breakpoint-desktop;
  
  .placeholder {
    justify-content: center;
    align-items: center;

    span {
      font-weight: 700;
      opacity: 0.5;
    }
  }
}