@import "variables.scss";

.Artifact {
  position: relative;
  flex-shrink: 0;
  overflow: hidden;

  h6 {
    position: absolute;
    right: $border;
    bottom: 4px;
    // opacity: 0.6;
    // color: #000;
  }
  .tier-backdrop {
    position: absolute;
    right: 1.5px;
    bottom: 1px;
    width: 32px;
    height: 28px;

    background-color: rgba(0, 0, 0, 0.6);
    border-top-left-radius: $space-minus1;
    border-bottom-right-radius: $border;
  }
  .tier-backdrop.mainstat {
    border-right-style: solid;
    border-right-color: $stat-potency;
    border-right-width: 4px;

    &.enerRech_ {
      border-right-color: $stat-enerRech;
    }
    &.critRate_ {
      border-right-color: $stat-critRate;
    }
    &.critDMG_ {
      border-right-color: $stat-critDMG;
    }
    &.atk_ {
      border-right-color: $stat-atk;
    }
    &.hp_ {
      border-right-color: $stat-hp;
    }
    &.def_ {
      border-right-color: $stat-def;
    }
    &.eleMas {
      border-right-color: $stat-eleMas;
    }
  }
  .mainstat-backdrop {
    position: absolute;
    right: 0px;
    bottom: 0px;
    height: $border;
    width: #{$border + $space-minus2};
    border-top-left-radius: $border;
    border-bottom-right-radius: $border;

    border-style: solid;
    border-color: $surface;
    border-width: 1px;
  }
  .mainstat-backdrop {
    background-color: white;
    opacity: 1;

    &.enerRech_ {
      background-color: $stat-enerRech;
    }
    &.critRate_ {
      background-color: $stat-critRate;
    }
    &.critDMG_ {
      background-color: $stat-critDMG;
    }
    &.atk_ {
      background-color: $stat-atk;
    }
    &.hp_ {
      background-color: $stat-hp;
    }
    &.def_ {
      background-color: $stat-def;
    }
    &.eleMas {
      background-color: $stat-eleMas;
    }
  }
}