@import "variables.scss";

.Box {  
  background-color: black;
  border-radius: $border;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.2);
  border-width: $space-minus4;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;

  padding: $space-minus3;
  gap: 0;

  >span, >ul, >ol {
    max-width: $width-base;
  }
  &.error {
    border-color: $error;
  }
  &.row {
    flex-direction: row;
  }
}