@import "variables.scss";

.Character {
  position: relative;
  flex-shrink: 0;

  &.selected .selected-marker {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    border: $border-width solid $onSurface-highEmphasis;
    border-radius: $border;
  }

  .secondary {
    position: absolute;
    top: 0;
    left: 0%;
    width: 100%;
    height: 100%;

    // only show right half of the image
    clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
  }
  .separator {
    position: absolute;
    top: 0;
    left: 50%;
    width: 2px;
    height: 100%;
    background-color: $surface;
  }
}