.CharacterEditor {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;

  .Box {
    position: relative;
    gap: 16px;
  }
  .Box.row.right {
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: start;
    flex-grow: 0;

    h2 {
      margin: 0;
      min-width: 400px;
      flex-grow: 1;
    }
  }

  .deleteBuild {
    position: absolute;
    top: 8px;
    right: 8px;
  }
  
  .row {
    align-items: center;
  }
  .column {
    gap: 4px;
  }

  .header {
    gap: 24px;
    h2 {
      margin: 0;
    }
  }
  .artifacts {
    flex-wrap: wrap;

    .artifact.inactive {
      opacity: 0.5;
    }
  }

  .statButtons {
    align-items: center;
    justify-content: start;
    gap: 4px;
    flex-wrap: wrap;
  }

  .SubstatButton {
    flex-shrink: 0;
    height: 34px;
  }
}