@import "variables.scss";

.CharacterEditor {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: $space-minus1;

  .Box {
    position: relative;
    gap: $space-minus1;
  }
  .Box.row.right {
    flex-direction: row;
    gap: $space-minus1;
    align-items: center;
    justify-content: start;
    flex-grow: 0;

    h2 {
      margin: 0;
      min-width: 400px;
      flex-grow: 1;
    }
  }

  .deleteBuild {
    position: absolute;
    top: $space-minus3;
    right: $space-minus3;
  }
  
  .row {
    align-items: center;
  }
  .column {
    gap: $space-minus4;
  }

  .header {
    gap: $space;
    h2 {
      margin: 0;
    }
  }
  .artifacts, .wearers {
    flex-wrap: wrap;

    .artifact.inactive, .Character.inactive {
      opacity: 0.5;

      &:hover {
        opacity: 0.8;
      }
      &:active {
        opacity: 0.2;
      }
    }
    .Character.disabled {
      opacity: 0.2;

      &:hover {
        opacity: 0.2;
      }
    }
  }

  .statButtons {
    align-items: center;
    justify-content: start;
    gap: $space-minus4;
    flex-wrap: wrap;
  }

  .SubstatButton {
    flex-shrink: 0;
    height: 34px;
  }
}