@import 'variables.scss';

.EditBuilds.page {
  padding-bottom: 80px;

  .Box {
    gap: $space;
  }

  .Box.json {
    width: $width-base;
    height: 200px;

    textarea {
      width: 100%;
      height: 100%;
    }
  }

  .return {
    position: fixed;
    bottom: $space-minus1;
    right: $space-minus1;
  }
}