@import "variables.scss";

.Filter {
  $spacer-width: $space-minus1;
  background-color: $elevation;
  border: $border-width solid $elevation-minus2;

  display: flex;
  flex-direction: row;
  justify-content: flex-start; // sections move to the left
  align-items: stretch; // sections fill height
  gap: 0;
  padding: $space-minus2 $space;

  .filterSpacer {
    // height: 100%;
    align-self: stretch;
    width: 2px;
    background-color: $elevation-minus2;
    opacity: 0.4;
    margin: 0 $spacer-width;
  }
  .filterSection {
    display: flex;
    flex-direction: column;
    align-items: center; // text is centered
    gap: $space-minus3;

    .buttons {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      gap: 0;
      flex-grow: 1;

      .resetButton {
        margin-bottom: $space-minus3;
      }
    }
    >span {
      font-size: 12px;
      opacity: 0.5;
    }
  }

  .offpiece {
    img {
      height: $tile;
      width: $tile;
    }
  }

  .FilterStats {
    margin-right: $spacer-width;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: $space-minus3;


    span {
      font-size: 12px;
    }
  }
}