@import "variables.scss";

.Home.page {
  padding-top: 108px;
  padding-bottom: 140px;

  .Filter {
    position: fixed;
    bottom: $space-minus1;
    right: $space-minus1;

    z-index: 100;
  }

  .Pinboard {
    position: fixed;
    bottom: $space-minus1;
    left: $space-minus1;

    z-index: 100;
  }
}