@import "variables.scss";

.Home.page {
  // padding-top: 108px;
  padding-bottom: 240px;

  $minipopup-bottom: calc($tile * 2);

  .SettingsRow {
    width: 100%;
    background-color: $elevation;
  }

  .loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $elevation-minus2;
    opacity: 0.6;
    z-index: 200;
  }

  .Filter {
    position: fixed;
    // bottom: $space-minus1;
    // right: $space-minus1;
    bottom: -$border-width;
    left: -$border-width;
    right: -$border-width;

    z-index: 100;
  }

  .Pinboard {
    position: fixed;
    bottom: $minipopup-bottom;
    left: $space-minus1;

    z-index: 100;
  }

  .popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 200;
    
    .ArtifactInventory {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: $minipopup-bottom;
      max-width: calc(100% - $space * 2);
      min-width: calc(10 * $tile + 14px);

      background-color: $elevation;
      border-color: $elevation-plus4;
    }
  }
}