@import 'variables.scss';

.Recommendations.Box {
  gap: $space-minus1;

  >h2 {
    margin: 0;
  }

  .buttons {
    display: flex;
    flex-direction: row;
    gap: $space-minus2;

    .filterSelection {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: start;
      gap: $space-minus2;
  
      > span {
        // font-weight: 700;
        opacity: 0.6;
        margin-left: $border;
        // text-align: center;
      }
    }
  }

  .navigationBack {
    display: flex;
    flex-direction: row;
    gap: $space-minus4;
    align-items: end;
    justify-content: start;

    .back {
      height: $tile;
      width: calc($tile + $space - 1px);
      padding-left: 4px;

      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: start;
    }
    .activeRecommendation {
      display: flex;
      flex-direction: column;
      gap: $space-minus2;

    }
  }

  // .useless {
  //   flex-wrap: wrap;
  //   max-width: calc(16 * $tile);
  // }

  .artifactGroups {
    flex-wrap: wrap;
    max-width: calc($tile * 16);
  }
}