@import "variables.scss";

.Tier {
  display: flex;
  justify-content: center;
  align-items: center;

  h2, h3 {
    margin: 0;
    color: $onElevation-highEmphasis;
  }

  &.S {
    background-color: $tier-s;
  }
  &.A {
    background-color: $tier-a;
  }
  &.B {
    background-color: $tier-b;
  }
  &.C {
    background-color: $tier-c;
  }
  &.D {
    background-color: $tier-d;
  }
}